@import url('https://fonts.googleapis.com/css?family=Karla');
body {
    background-color: #363940;
    font-family: sans-serif;
    color: white;
}

.nav {
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;
}

.nav li {
    font: 200 20px "Karla";
    list-style-type: none;
    color: white;
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}


/*.links {
    text-decoration: none;
    color: white;
}*/

::-webkit-scrollbar {
    width: 0px;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

.logo {
    width: 50px;
    height: 50px;
}

.logobig {
    width: 400px;
    height: 400px;
}

.plus {
    height: 15px;
    width: 15px;
    margin-right: 5px;
}

.plus2 {
    height: 17px;
    width: 17px;
    margin-right: 5px;
    text-align: center;
}

.welcome {
    width: auto;
    height: auto;
    margin-top: 15%;
    text-align: center;
}

.titles {
    font: 800 75px "Karla";
}

.subtitles {
    font: 800 55px "Karla";
}

.bottomTitle {
    font: 500 25px "Karla";
    text-align: left;
    padding-left: 50px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.bottomSubtitle {
    font: 400 15px "Karla";
    text-align: left;
    padding-left: 50px;
    color: gray;
}

.spacer {
    margin-bottom: 45px;
    display: block;
}

.footer .wrapper .part .row[data-v-dedeb4b6] {
    display: flex;
    flex-direction: column;
}

.footer .wrapper .part[data-v-dedeb4b6] {
    width: 50%;
}


/*.wrapper {
    text-align: right;
    width: 50%;
}

.bottomrows {
    margin-left: 60em;
    display: flex;
    text-align: left;
    width: auto;
    position: absolute;
}

.row {
    margin-right: 30px;
}
*/

.ultraspacer {
    margin-bottom: 300px;
    display: block;
}