@import url('https://fonts.googleapis.com/css?family=Karla');
body {
    background-color: #36393F;
    overflow: hidden;
}

.main {
    position: relative;
    padding: auto;
    margin: 50px;
    min-height: 50px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: left;
    flex-wrap: nowrap;
    font: 600 16px "Karla";
    /*background-color: black;*/
}

.devimg {
    margin-bottom: 0;
    height: 20px;
    width: 20px;
    padding: 15px;
    border-radius: 100px;
    margin-right: 20px;
}

#nav {
    font: 500 20px "Karla";
    margin: 50px;
    padding: auto;
    min-height: 50px;
    position: relative;
    text-align: left;
    display: flex;
    flex-flow: column;
    flex-direction: row;
}

#nav li {
    list-style-type: none;
}

.devnameandbio {
    color: white;
}

.devbox {
    position: relative;
    left: 27%;
    margin-left: -50px;
    margin: 0 auto;
    border-radius: 30px;
    min-width: 500px;
    /*max-width: 500px;*/
    min-height: 100px;
    /*max-height: 200px;*/
    padding: 50px auto;
    margin: 20px;
    text-align: center;
    display: inline-block;
    /*object-position: center;*/
    flex-direction: column;
    font: 600 16px "Karla";
    background-color: #2F3136;
    width: fit-content;
    transition: 0.3s
}

.devbox:hover {
    transform: translateY(-20px);
}

.links {
    color: #4286f4;
    transition: 0.3s;
    text-decoration: none;
}

.links:hover {
    color: red;
    text-decoration: none;
    font-weight: 12px;
}
